{% extends 'base.html' %}

{% block title %}Leistungen - M.A.S. UG{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Unsere Leistungen</h1>
    <div class="row mt-4 justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center">Innenbereich</h2>
            <ul class="list-unstyled text-center">
                <li>Individuelle Schreinerarbeiten</li>
                <li>Installation von Fußböden</li>
                <li>Trockenbau</li>
                <li>Malerarbeiten</li>
                <li>Renovierung und Sanierung von Innenräumen</li>
                <li>Elektrik- und Installationsarbeiten</li>
                <li>Montage von Sanitäreinrichtungen</li>
                <li>Innendämmung und Wärmedämmung</li>
                <li>Einbau und Reparatur von Fenstern und Türen</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Außenbereich</h2>
            <ul class="list-unstyled text-center">
                <li>Gestaltung und Pflege von Gärten</li>
                <li>Anlage von Terrassen und Wegen</li>
                <li>Fassadenarbeiten</li>
                <li>Bau von Carports und Gartenhäusern</li>
                <li>Montage von Zäunen und Toren</li>
                <li>Pflasterarbeiten und Wegebau</li>
                <li>Entwässerungsarbeiten</li>
                <li>Außenbeleuchtung und Gartenbeleuchtung</li>
                <li>Winterdienst</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

